#menu-container {
  position: relative;
  padding-top: 1.5rem;
  width: 100%;
  background-color: #000;
  height: fit-content;
}
#menu-container.home {
  padding: 1.5rem 0.5rem 3.6rem;
  width: 100%;
  background-color: #000;
  height: fit-content;
}
.home-nav-header,
.other-nav-header {
  color: #fff;
  padding:2vh 0;
  text-align: center;
}
.home-nav-header {
  padding-top: 10vh;
}
.home-nav-header h1 {
  font-size: 4rem;
}
.home-nav-header h3 {
  margin-top: 0;
  margin-bottom: 1.3rem;
}
#navMenu {
  background-color: #000;
  max-width: 925px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .home-nav-header h1 {
    font-size: 3.4rem;
  }
  .home-nav-header {
    padding-top: 6vh;
  }
}

@media screen and (max-width: 576px) {
  .home-nav-header h1 {
    font-size: 2rem;
  }
}
